<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="NuGet-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
  </packageSources>
</configuration>
